{
  "presets": [
    ["env", 
      { "modules": false }
    ],
    "stage-2",
    "es2015",
    "es2016"
  ],
  "plugins": [    
    "transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
