.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea/
ptinvites.json
db.sqlite
.tmp
.vscode

# local env files
.env.local
.env.*.local

# Optional npm cache directory
.npm

.git
.gitignore
.github
.travis.yml
Dockerfile
Dockerfile.web
.dockerignore
**/README.md
**/LICENSE
.releaserc
.editorconfig

public/config.json