/* Scroll Bars */
::-webkit-scrollbar {
  width: 7px;

  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}