html,
body {
  background: #044D7F;
  overflow: hidden;
}

#settings-screen {
  color: #fff;
}

h2 {
  margin-top: 8px;
}

input,
label {
  -webkit-app-region: no-drag;
}

input {
  padding: 10px;
}

.close {
  -webkit-app-region: no-drag;
}
