/* Headers */
h3 {
  color: white;
}

h4 {
  color: #bdbdbd;
}

h5 {
  color: #e5a00d;
}

.pt-orange {
  background-color: #e5a00d;
}

main {
  background: #2b5876;
  background: linear-gradient(to bottom, #1f1c2c, #182848);
}

/* PlexBrowser */
.pt-content-unwatched {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.pt-content-progress {
  min-height: 1px;
  background: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  /* remove scrollbar space */
  background: transparent;

  /* optional: just make scrollbar invisible */
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(229, 160, 13, 0.6);
  border: 0 none #fff;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: #353e58;
  border: 0 none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: #000;
}

::-webkit-scrollbar-track:hover {
  background: #666;
}

::-webkit-scrollbar-track:active {
  background: #333;
}
