/* Helpers */

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-text {
  text-align: center;
}

.soft-text {
  opacity: 0.7;
}

/* Headers */

h3 {
  color: white;
}

h4 {
  color: #bdbdbd;
}

h5 {
  color: #e5a00d;
}

h6 {
  color: white;
}

/* Background/Text Colors */

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

html {
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  /* remove scrollbar space */
  background: transparent;

  /* optional: just make scrollbar invisible */
  width: 2px;
  height: 2px;
}

.pt-orange {
  background-color: #e5a00d;
}

.pt-orange-text {
  color: #e5a00d;
}

.highlightBorder {
  border: solid 2px #f3b32b;
}

main {
  background: #2b5876;
  background: linear-gradient(to bottom, #1f1c2c, #182848);
}

.clickable {
  cursor: pointer;
}

.input-group--text-field.input-group--focused label {
  color: #e5a00d;
}

.input-group--focused {
  border-color: #e5a00d;
}

.card {
  /* border-radius */
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;

  /* box-shadow */
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}

/* FIX Chat text not wrapping */
.list__tile__sub-title,
.v-list__tile__title {
  overflow-wrap: break-word;
  overflow-x: visible;
  white-space: initial;
  text-overflow: initial;
}

/* PlexBrowser */

.pt-content-unwatched {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.pt-content-progress {
  min-height: 1px;
  background: white;
}

.progress-linear .progress-linear__bar {
  background: white;
}

/* Scrollbar */
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(229, 160, 13, 0.6);
  border: 0 none #fff;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: #353e58;
  border: 0 none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: #000;
}

::-webkit-scrollbar-track:hover {
  background: #666;
}

::-webkit-scrollbar-track:active {
  background: #333;
}

.thick--text {
  font-weight: 600;
}
