/* Headers */
h3 {
  color: white;
}

h4 {
  color: #bdbdbd;
}

main {
  background: #2b5876;
  background: linear-gradient(to bottom, #1f1c2c, #182848);
}

.pt-content-progress {
  min-height: 1px;
  background: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  /* remove scrollbar space */
  background: transparent;

  /* optional: just make scrollbar invisible */
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(229 160 13 / 60%);
  border: 0 none #fff;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: #353e58;
  border: 0 none #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: #000;
}

::-webkit-scrollbar-track:hover {
  background: #666;
}

::-webkit-scrollbar-track:active {
  background: #333;
}
