/* Helpers */

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-text {
  text-align: center;
}

.soft-text {
  opacity: 0.7;
}

.softer-text {
  opacity: 0.4;
}

.click-cursor {
  cursor: pointer;
}

/* Headers */

h3 {
  color: white;
}

h4 {
  color: #bdbdbd;
}

h5 {
  color: #E5A00D;
}

h6 {
  color: white;
}

h7 {
  color: #E5A00D;
}

/* Background/Text Colors */

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

html {
  overflow: auto;
  overflow-x: hidden;
  background: #151924;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

.pt-orange {
  background-color: #E5A00D;
}

.pt-orange-text {
  color: #E5A00D;
}

.theme--dark .v-card, .application .theme--dark.v-card {
  background: #151924;
}

.v-toolbar {
  background: #151924 !important;
}

.highlightBorder {
  border: solid 2px #f3b32b;
}

.theme--dark .v-list, .application .theme--dark.v-list {
  background: #353e58
}

main {
  /*background: #272c38;*/
  background: #2b5876;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #182848, #2b5876);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1F1C2C, #182848);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.noshadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.v-navigation-drawer {
  background: #151924 !important;
}

.application--dark {
  background: #151924;
}

.application--dark .a {
  color: white !important;
}

.menu__content {
  background: #272c38;
}

.slcontent .dialog .dialog--active {
  box-shadow: none;
}

.v-list__tile {
  color: #ffffff;
}

.clickable {
  cursor: pointer;
}

span {
  color: #fff;
}

.menu__content {
  margin-top: 35px !important;
}

.stepper {
  background: #323948;
  /* border-radius */
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  /* box-shadow */
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}

.stepper__label {
  color: #fff !important;
}

.input-group--text-field.input-group--focused label {
  color: #E5A00D;
}

.input-group--focused {
  border-color: #E5A00D;
}

.menuable__content__active {
  opacity: 1 !important;
}

.card {
  background: #323948;
  /* border-radius */
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  /* box-shadow */
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}

.thumb {
  /* border-radius */
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  /* box-shadow */
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}

.unwatched {
  /* border-radius */
  /* -webkit-border-radius: 0px 0 5px 0 !important;
  -moz-border-radius: 5px 0 5px 0 !important;
  border-radius: 5px 0 5px 0 !important; */
}

.thumb-title {
  /* border-radius */
  -webkit-border-radius: 0 0 5px 5px !important;
  -moz-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
}

.season-content {
  /* border-radius */
  -webkit-border-radius: 5px 5px 0 0 !important;
  -moz-border-radius: 5px 5px 0 0 !important;
  border-radius: 5px 5px 0 0 !important;
}

.season-info {
  background: #3B4254;
  /* border-radius */
  -webkit-border-radius: 0 0 5px 5px !important;
  -moz-border-radius: 0 0 5px 5px !important;
  border-radius: 0 0 5px 5px !important;
}

/* FIX Chat text not wrapping */

.list__tile__sub-title, .v-list__tile__title {
  overflow-wrap: break-word;
  overflow-x: visible;
  white-space: initial;
  text-overflow: initial;
}

/* PlexBrowser */

.pt-content-title {
  font-size: 1em;
  position: absolute;
  width: 100%;
  height: 3em;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, .7)
}

.pt-content-title span {
  font-weight: 450;
  display: block;
  overflow: hidden;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pt-content-unwatched {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.pt-content-progress {
  min-height: 1px;
  background: white;
}

.progress-linear .progress-linear__bar {
  background: white;
}

.pt-poster {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 60vw;
  height: 40vw;
  border: 1px solid;
  font-size: 10vw;
}

/* PTPlayer */

.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3, video.video-js, video.vjs-tech, {
  /* max-height: calc(100vh - 64px); */
  position: relative !important;
  width: 100%;
  max-width: 100%;
  max-width: 100% !important;
  padding-top: 0;
  line-height: 0;
}

/* Fix the control bar due to us resetting the line-height on the video-js */

.vjs-control-bar {
  line-height: 1;
}

.ptplayer .vjs_video_3-dimensions.vjs-fluid {
  padding-top: 0;
}

.ptplayer .video-js {
  height: calc(100vh - 64px);
  padding-top: 0px;
}

/* Make player 16x9 relative to viewport width on mobile */

@media screen and (max-width: 1264px) {
  .ptplayer .video-js {
    height: calc(0.5625 * 100vw);
  }
}

.ptplayer .vjs_video_1177-dimensions.vjs-fluid {
  padding-top: 0;
}

.ptplayer .video-js .vjs-menu-button-inline.vjs-slider-active, .video-js .vjs-menu-button-inline:focus, .video-js .vjs-menu-button-inline:hover, .video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em
}

.vjs-volume-bar {
  width: 100% !important;
}

.ptplayer .video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}

.ptplayer .video-js .vjs-control {
  width: 5em
}

.ptplayer .video-js .vjs-volume-control {
  width: 10em;
}

.ptplayer .video-js .vjs-menu-button-inline:before {
  width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em
}

.ptplayer .vjs-paused.vjs-has-started.video-js .vjs-big-play-button, .video-js.vjs-ended .vjs-big-play-button, .video-js.vjs-paused .vjs-big-play-button {
  display: block
}

.ptplayer .video-js .vjs-load-progress div, .vjs-seeking .vjs-big-play-button, .vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.ptplayer .video-js .vjs-mouse-display:after, .video-js .vjs-play-progress:after {
  padding: 0 .4em .3em
}

.ptplayer .video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.ptplayer .video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

.ptplayer .video-js *, .video-js:after, .video-js:before {
  box-sizing: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 3em
}

.ptplayer .video-js.vjs-fullscreen, .video-js.vjs-fullscreen .vjs-tech {
  width: 100% !important;
  height: 100% !important;
}

.ptplayer .video-js {
  font-size: 14px;
  overflow: hidden
}

.ptplayer .video-js .vjs-control {
  color: inherit
}

.ptplayer .video-js .vjs-menu-button-inline:hover, .video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 8.35em
}

.ptplayer .video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content {
  height: 2em;
  width: 6.35em
}

.ptplayer .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before {
  text-shadow: 0 0 1em #fff, 0 0 1em #fff, 0 0 1em #fff
}

.ptplayer .video-js .vjs-spacer, .video-js .vjs-time-control {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.ptplayer .video-js .vjs-time-control {
  -webkit-box-flex: 0 1 auto;
  -moz-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: auto
}

.ptplayer .video-js .vjs-time-control.vjs-time-divider {
  width: 14px
}

.ptplayer .video-js .vjs-time-control.vjs-time-divider div {
  width: 100%;
  text-align: center
}

.ptplayer .video-js .vjs-time-control.vjs-current-time {
  margin-left: 1em
}

.ptplayer .video-js .vjs-time-control .vjs-current-time-display, .video-js .vjs-time-control .vjs-duration-display {
  width: 100%
}

.ptplayer .video-js .vjs-time-control .vjs-current-time-display {
  text-align: right
}

.ptplayer .video-js .vjs-time-control .vjs-duration-display {
  text-align: left
}

.ptplayer .video-js .vjs-play-progress:before, .video-js .vjs-progress-control .vjs-play-progress:before, .video-js .vjs-remaining-time, .video-js .vjs-volume-level:after, .video-js .vjs-volume-level:before, .video-js.vjs-live .vjs-time-control.vjs-current-time, .video-js.vjs-live .vjs-time-control.vjs-duration, .video-js.vjs-live .vjs-time-control.vjs-time-divider, .video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
  display: none
}

.ptplayer .video-js.vjs-no-flex .vjs-time-control {
  display: table-cell;
  width: 4em
}

.ptplayer .video-js .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: .5em;
  top: -.5em
}

.ptplayer .video-js .vjs-progress-control .vjs-load-progress, .video-js .vjs-progress-control .vjs-play-progress, .video-js .vjs-progress-control .vjs-progress-holder {
  height: 100%
}

.ptplayer .video-js .vjs-progress-control .vjs-progress-holder {
  margin: 0
}

.ptplayer .video-js .vjs-progress-control:hover {
  height: 1.5em;
  top: -1.5em
}

.ptplayer .video-js .vjs-control-bar {
  -webkit-transition: -webkit-transform .1s ease 0s;
  -moz-transition: -moz-transform .1s ease 0s;
  -ms-transition: -ms-transform .1s ease 0s;
  -o-transition: -o-transform .1s ease 0s;
  transition: transform .1s ease 0s
}

.ptplayer .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar, .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar, .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(4em);
  -moz-transform: translateY(4em);
  -ms-transform: translateY(4em);
  -o-transform: translateY(4em);
  transform: translateY(4em);
  -webkit-transition: -webkit-transform 1s ease 0s;
  -moz-transition: -moz-transform 1s ease 0s;
  -ms-transition: -ms-transform 1s ease 0s;
  -o-transition: -o-transform 1s ease 0s;
  transition: transform 1s ease 0s
}

.ptplayer .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control, .video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
  height: .25em;
  top: -.25em;
  pointer-events: none;
  -webkit-transition: height 1s, top 1s;
  -moz-transition: height 1s, top 1s;
  -ms-transition: height 1s, top 1s;
  -o-transition: height 1s, top 1s;
  transition: height 1s, top 1s
}

.ptplayer .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control, .video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control, .video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
  opacity: 0;
  -webkit-transition: opacity 1s ease 1s;
  -moz-transition: opacity 1s ease 1s;
  -ms-transition: opacity 1s ease 1s;
  -o-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s;
  right: 0;
  position: absolute
}

.ptplayer .video-js.vjs-live .vjs-live-control {
  margin-left: 100%
}

.ptplayer .video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: rgba(0, 0, 0, .45);
  color: #fff;
  -webkit-transition: border-color .4s, outline .4s, background-color .4s;
  -moz-transition: border-color .4s, outline .4s, background-color .4s;
  -ms-transition: border-color .4s, outline .4s, background-color .4s;
  -o-transition: border-color .4s, outline .4s, background-color .4s;
  transition: border-color .4s, outline .4s, background-color .4s
}

.ptplayer .video-js .vjs-menu-button-popup .vjs-menu {
  left: -3em
}

.ptplayer .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: transparent;
  width: 12em;
  left: -1.5em;
  padding-bottom: .5em
}

.ptplayer .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item, .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
  background-color: #151b17;
  margin: .3em 0;
  padding: .5em;
  border-radius: .3em
}

.ptplayer .video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
  background-color: #E5A00D
}

.ptplayer .video-js .vjs-big-play-button {
  background-color: rgba(0, 0, 0, 0);
  font-size: 8em;
  border-radius: 0%;
  height: 1em !important;
  line-height: 1em !important;
  margin-top: -0.5em !important
}

.ptplayer .video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus, .video-js .vjs-big-play-button:active {
  background-color: transparent
}

.ptplayer .video-js .vjs-loading-spinner {
  border-color: #e5a00d
}

.ptplayer .video-js .vjs-control-bar2 {
  background-color: #000000
}

.ptplayer .video-js .vjs-control-bar {
  background-color: rgba(0, 0, 0, 1) !important;
  color: #ffffff;
  font-size: 12px
}

.ptplayer .video-js .vjs-play-progress, .video-js .vjs-volume-level {
  background-color: #e5a00d
}

.ptplayer .video-js .vjs-load-progress {
  background: rgba(115, 133, 159, 0.5);
}

.ptplayer .video-js .vjs-big-play-button:hover {
  color: #E5A00D;
}

.ptplayer .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before {
  color: #E5A00D;
  text-shadow: none
}

.vjs-volume-level {
  background-color: #E5A00D !important;
}

.vjs-fullscreen-control {
  position: absolute !important;
  right: 0px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #01579b;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #353e58;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.thick--text {
  font-weight: 600;
}

.clientLogo {
  padding: 3px;
  background-origin: content-box !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.platform-android {
  background-color: #a4ca39;
}

.platform-atv {
  background-color: #858487;
}

.platform-chrome {
  background-color: #ed5e50;
}

.platform-chromecast {
  background-color: #10a4e8;
}

.platform-default {
  background-color: #e5a00d;
}

.platform-dlna {
  background-color: #0cb14b;
}

.platform-firefox {
  background-color: #e67817;
}

.platform-gtv {
  background-color: #008bcf;
}

.platform-ie {
  background-color: #00599e;
}

.platform-ios {
  background-color: #858487;
}

.platform-kodi {
  background-color: #31afe1;
}

.platform-linux {
  background-color: #1793d0;
}

.platform-macos {
  background-color: #858487;
}

.platform-msedge {
  background-color: #0078d7;
}

.platform-opera {
  background-color: #ff1b2d;
}

.platform-playstation {
  background-color: #034da2;
}

.platform-plex {
  background-color: #e5a00d;
}

.platform-plexamp {
  background-color: #e5a00d;
}

.platform-roku {
  background-color: #6d3c97;
}

.platform-safari {
  background-color: #00a9ec;
}

.platform-samsung {
  background-color: #034ea2;
}

.platform-synclounge {
  background-color: #3e4f82;
}

.platform-tivo {
  background-color: #00a7e1;
}

.platform-wiiu {
  background-color: #03a9f4;
}

.platform-windows {
  background-color: #2fc0f5;
}

.platform-wp {
  background-color: #68217a;
}

.platform-xbmc {
  background-color: #3b4872;
}

.platform-xbox {
  background-color: #107c10;
}