name: auto-merge

on:
  pull_request:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: ahmadnassri/action-dependabot-auto-merge@v2.1.4
        with:
          target: minor
          github-token: ${{ secrets.PAT }}
