name: Node.js Test

on: [push, pull_request, release]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: SKIP_BUILD=true npm ci
      env:
        SKIP_BUILD: true
    - run: npm run lint -- --no-fix
    - run: npm run build