name: test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [12, 14, 20]

    steps:
      - name: Checkout
        # Temporarily skip older node-version checks until they are removed from required checks
        if: ${{ matrix.node-version >= 16 }}
        uses: actions/checkout@v6.0.2

      - name: Setup Node.js ${{ matrix.node-version }}
        # Temporarily skip older node-version checks until they are removed from required checks
        if: ${{ matrix.node-version >= 16 }}
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        # Temporarily skip older node-version checks until they are removed from required checks
        if: ${{ matrix.node-version >= 16 }}
        run: npm ci
        env:
          SKIP_BUILD: true

      - name: Lint
        # Temporarily skip older node-version checks until they are removed from required checks
        if: ${{ matrix.node-version >= 16 }}
        run: npm run lint -- --no-fix

      - name: Build
        # Temporarily skip older node-version checks until they are removed from required checks
        if: ${{ matrix.node-version >= 16 }}
        run: npm run build
